<div class="card" id="modal4">
    <div class="card-header border-bottom-0">
        <div class="card-title">
            Warning Alert Messages
        </div>
    </div>
    <div class="card-body">
        <div class="p-4 bg-light border border-bottom-0 mg-t-20">
            <div class="modal d-block pos-static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center p-4 pb-5">
                            <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal"><span aria-hidden="true">×</span></button>
                            <i class="icon icon-close fs-70 text-danger lh-1 my-4 d-inline-block"></i>
                            <h4 class="text-danger mb-20">Error: Cannot process your entry!</h4>
                            <p class="mb-4 mx-4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p><button aria-label="Close" class="btn btn-danger pd-x-25">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal-wrapper-demo -->
        <div class="text-center py-4 bg-light border">
            <a class="btn btn-primary" data-bs-target="#modaldemo5" data-bs-toggle="modal" href="javascript:void(0)">View Live Demo</a>
        </div>
        <!-- modal-footer-demo -->
    </div>
</div>