@{
	Layout = "_Layout";
	var SellerPrd = (List<Product>)ViewBag.SellerPrds;
	var Orders = (List<Order>)ViewBag.LatestOrders;
}
@model User
@{
	ViewData["Title"] = "Index";
}

<div class="container">

<!--app-content open-->
<!-- PAGE-HEADER -->
<div class="page-header">
	<h1 class="page-title">Edit Personal Details</h1>
</div>
<!-- PAGE-HEADER END -->
<!-- Row -->
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Edit Personal Details</h3>
                <a href="/User/ChangePassword" class="btn btn-primary" style="margin-left:auto">Change Password</a>

			</div>
            <div class="card-body">
			    <form action="Edit" method="post" class="form-horizontal">
                       <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class=" row mb-2">
                            <label for="inputName" class="col-md-2 form-label">First Name:</label>
                            <div class="col-md-10">
                                <input asp-for="Fname" class="form-control" id="inputName" placeholder="First Name">
                                <span asp-validation-for="Fname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class=" row mb-2">
                            <label for="inputName" class="col-md-2 form-label">Last Name:</label>
                            <div class="col-md-10">
                                <input asp-for="Lname" class="form-control" id="inputName" placeholder="Last Name">
                                <span asp-validation-for="Lname" class="text-danger"></span>
                            </div>
                        </div>
                    <div class=" row mb-2">
                        <label for="inputName" class="col-md-2 form-label">E-Mail:</label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" id="inputName" placeholder="example@example.com">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class=" row mb-2">
                        <label for="inputName" class="col-md-2 form-label">Unit Number:</label>
                        <div class="col-md-2">
                            <input asp-for="Address.UnitNumber" class="form-control" id="inputName" placeholder="Unit Number">
                            <span asp-validation-for="Address.UnitNumber" class="text-danger"></span>
                        </div>
                        <label for="inputName" class="col-md-2 form-label">Street Name:</label>
                        <div class="col-md-2">
                            <input asp-for="Address.StreetName" class="form-control" id="inputName" placeholder="Address">
                            <span asp-validation-for="Address.StreetName" class="text-danger"></span>
                        </div>
                        <label for="inputName" class="col-md-2 form-label">City:</label>
                        <div class="col-md-2">
                            <input asp-for="Address.City" class="form-control" id="inputName" placeholder="City">
                            <span asp-validation-for="Address.City" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row mb-2">
                        <label for="inputName" class="col-md-2 form-label">Country:</label>
                        <div class="col-md-2">
                            <input asp-for="Address.Country" class="form-control" id="inputName" placeholder="Country">
                            <span asp-validation-for="Address.Country" class="text-danger"></span>
                        </div>
                        <label for="inputName" class="col-md-2 form-label">Postal Code:</label>
                        <div class="col-md-2">
                            <input asp-for="Address.PostalCode" class="form-control" id="inputName" placeholder="Postal Code">
                            <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="display:flex;justify-content: flex-end;">
                        <div class="btn-list mt-4">
                            <a asp-action="Details" asp-controller="User" asp-route-id="@Model.Id" class="btn ripple btn-danger"> Cancel </a>
                            <input type="submit" value="Save" class="btn ripple btn-success me-2" />
                        </div>
                    </div>
		    </form>
		</div>
	</div>
</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
